body {
background-color: lightblue;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
  height: 47px;
  border-bottom-width: 1px;
}

header .container{
  background-color: white;
  height: 100%;
  max-width: 1190px;
  margin:0 auto;
}

header .left {
  float: left;

}

header .left a{
  color: black;
  text-decoration: none;
  padding: 19px 10px 10px 4px;
  height: 46px;
}

header .left ul,li{
  height: 46px;
  display: inline-block;
  width: auto;
}

header .left a :hover {
  border-bottom: 4px solid #0084b4;
  transition: all .15s ease-in-out;
}
header .left .Icon{
  margin: 11px 0 0 10px;
  height: 23px;
  width: 23px;
}

header .left .text{
font-size: 13px;
display: inline-block;
margin-left: 3px;
vertical-align: top;
padding-top: 17px;
font-weight: 500;
color: #65757F;
}

header .twitter-button{
  float: center;
}

header .twitter-logo{
  width: 24px;
  height: 21px;
  color: #55acee;
}

header .right {
  float: right;
  display: flex;
}

header .right nav, .right form {
  flex:auto;
}