body {
background-color: lightblue;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
text-decoration: none;
}

a {
  text-decoration: none;
    color: black;
}

header{
  height: 47px;
  border-bottom-width: 1px;
  background-color: white;
}

header .container{
  height: 100%;
  max-width: 1190px;
  margin:0 auto;
  display: flex;
}

header .left {
  flex: 0 35%;

}

header .left a{
  color: black;
  text-decoration: none;
  padding: 19px 10px 10px 4px;
  height: 46px;
}

header .left ul,li{
  height: 46px;
  display: inline-block;
  width: auto;
}

header .left a :hover {
  border-bottom: 4px solid #0084b4;
  transition: all .15s ease-in-out;
}
header .left .Icon{
  margin: 11px 0 0 10px;
  height: 23px;
  width: 23px;
}

header .left .text{
font-size: 13px;
font-weight: 500;
color: #65757F;
display: inline-block;
margin-left: 3px;
vertical-align: top;
padding-top: 17px;
}

header .twitter-button{
  flex: 1 35%;
}

header .twitter-logo{
  width: 24px;
  height: 21px;
  color: #55acee;
}

header .right {
  flex: 0 20%;
  display: flex;
}

header .right nav, .right form {
  flex:auto;
}

.body-container {
  max-width: 1190px;
  min-width: 900px;
  margin:0 auto;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
}

.user-details {
  float: left;
  min-width: 290px;
  background-color: green;
}

.user {
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.user .user-fields {
  font-weight: 700;
  font-size: 18px

}

.user .cover-photo {
  height: 95px;
  width: 100%;
  background-color: red;
  display: inline-block;
}

.user .profile-pic{
  height: 70px;
  width: 70px;
  margin: -30px 0 0 8px;
  background-color: pink;
  display: inline-block;
}

.tweet-feed{
  display: inline-block;
  float: left;
  min-width: 590px;
  background-color: white;
  margin: 0 10px;

}

.suggestions{
  display: inline-block;
  float: left;
  min-width: 290px;
  background-color: green;
}